.alert.alert-danger{
  text-align: center;
  background-color: red;
}

.alert.alert-warning{
  text-align: center;
  background-color: orange;
}

.alert.alert-success,.alert.alert-info{
  text-align: center;
  color: $white1;
  background-color: $blue1;
}
