$rinkaku: outset 1px red;
$right_width: calc(100vw - 380px);
$right_contents_width: calc(100vw - 500px);
$upper_contents_height: 114px;
$standerd_font_size: 16px;
$comment_box_height: 100px;

$white1:#ffffff;
$blue1: #38aef0;
$grey1: #dddddd;
$grey2: #434a54;
$grey3: #999999;

$size1: 40px;
$size2: 20px;
$size3: 50px;
$size4: 15px;

$side_40px: 0 40px;
$side_20px: 0 20px;
$jouge_20px: 20px 0;
$jouge_15px: 15px 0;

