
.header
  %p チャットグループが作成されました

.left_content.clearfix
  .acount_info.clearfix
    %p acount_name
    / acount_nameacount_nameacount_nameacount_nameacount_nameacount_nameacount_nameacount_nameacount_nameacount_nameacount_nameacount_nameacount_nameacount_nameacount_nameacount_nameacount_nameacount_name
    .info
      %i.fa.fa-cog
      %i.fa.fa-pencil-square-o
  .group_info_box
    .group_info
      .group_name
        group_name
      .group_message
        group_message

    .group_info
      .group_name
        group_name
      .group_message
        group_message

    .group_info
      .group_name
        group_name
        / group_namegroup_namegroup_namegroup_namegroup_namegroup_namegroup_namegroup_namegroup_namegroup_namegroup_namegroup_namegroup_namegroup_namegroup_namegroup_namegroup_namegroup_namegroup_namegroup_namegroup_namegroup_namegroup_namegroup_namegroup_namegroup_namegroup_namegroup_namegroup_namegroup_namegroup_name
      .group_message
        group_message
        / group_messagegroup_messagegroup_messagegroup_messagegroup_messagegroup_messagegroup_messagegroup_messagegroup_messagegroup_messagegroup_messagegroup_messagegroup_messagegroup_messagegroup_messagegroup_messagegroup_messagegroup_messagegroup_messagegroup_message

    .group_info
      .group_name
        group_name
      .group_message
        group_message
  
    .group_info
      .group_name
        group_name
      .group_message
        group_message
  
    .group_info
      .group_name
        group_name
      .group_message
        group_message
  
    .group_info
      .group_name
        group_name
      .group_message
        group_message
  
    .group_info
      .group_name
        group_name
      .group_message
        group_message


.right_content.clearfix
  .group_title.clearfix
    %ul group_title
    / group_titlegroup_titlegroup_titlegroup_titlegroup_titlegroup_titlegroup_titlegroup_titlegroup_titlegroup_titlegroup_titlegroup_titlegroup_titlegroup_titlegroup_titlegroup_titlegroup_titlegroup_titlegroup_titlegroup_titlegroup_titlegroup_titlegroup_titlegroup_titlegroup_titlegroup_titlegroup_title
    .edit_bottun Edit
    %p member_name
    / member_namemember_namemember_namemember_namemember_namemember_namemember_namemember_namemember_namemember_namemember_namemember_namemember_namemember_namemember_namemember_namemember_namemember_namemember_namemember_namemember_namemember_namemember_namemember_namemember_namemember_namemember_namemember_namemember_namemember_namemember_namemember_namemember_namemember_namemember_namemember_namemember_namemember_namemember_namemember_namemember_namemember_name
  .message_box_area.clearfix
    .message_box.clearfix
      .speakers_box
        .speaker speaker
        .when_speaking
          2017/06/06 11:40:46
      .message
        message

    .message_box.clearfix
      .speakers_box
        .speaker speaker
        .when_speaking
          2017/06/06 11:40:46
      .message
        message
        / messagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessagemessage

    .message_box.clearfix
      .speakers_box
        .speaker speaker
        .when_speaking
          2017/06/06 11:40:46
      .message
        message

    .message_box.clearfix
      .speakers_box
        .speaker speaker
        .when_speaking
          2017/06/06 11:40:46
      .message
        message

  .bottom_content
    .comment_form
      .comment_box
        comment
        / commentcommentcommentcommentcommentcommentcommentcommentcommentcommentcommentcommentcommentcommentcommentcommentcommentcommentcommentcommentcommentcommentcommentcommentcommentcommentcommentcommentcommentcommentcommentcommentcommentcommentcommentcommentcommentcommentcomment
      %i.fa.fa-picture-o
    .send_bottun Send

